.summary {
    color: #eeeebb;
    border-left: 5px solid #ffffff;
    font-size:16px;
}

.alert-info  {
    color: #31708f;
    background-color: #cccccc;
    border-color: #bce8f1;   
}


.alert-info a {
   color: #337ab7; 
}

body, .panel-body{
    background-color: #555555;
    color: wheat;
}
blockquote{
    color: white;
}

#myTabContent{
    background-color: #222222;
    color: wheat;
}
a {
    color: #d8f2ff;
    text-decoration: none
}

ul li a {
    color: #337ab7;
}

h1 { color: #ffffed;}
h2, dt {color: white;}
h3 {color: #d0d0d0; }
h4 {color: #d8f2ff; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #999999;
    color: white;
}

.nav > li.active > a {
    background-color: #999999;
}

.nav > li > a:hover {
    background-color: #999999;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #b2b2b2;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #222222;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f1f1f1;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #b2b2b2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #404040;
    font-style: italic;
    cursor: default;
}

a[data-toggle] {
    color: #404040;
}

.navbar-inverse {
    background-color: #b2b2b2;
    border-color: #555555;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #333333;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #b2b2b2;
    color: #333333;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #b2b2b2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #b2b2b2;
    border-color: #b2b2b2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #b2b2b2;
    border-color: #b2b2b2;
}

.printTitle {
    color: #b2b2b2 !important;
}

body.print h1 {color: yellow !important; font-size:28px;}
body.print h2 {color: yellow !important; font-size:24px;}
body.print h3 {color: #d0d0d0 !important; font-size:14px;}
body.print h4 {color: coral !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #b2b2b2;
}

.text-primary {
    color: #404040;
}

div.sidebarTitle {
    color: #d0d0d0;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #d8f2ff;
    margin-bottom:10px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #d0d0d0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #777777;
}
