{% unless page.comments == false %}
<div class="giscus">
<!-- script src="https://cdn.commento.io/js/commento.js"></script -->
<script src="https://giscus.app/client.js"
        data-repo="rajakolluru/cheniledocs.github.io"
        data-repo-id="R_kgDOLnSG0g"
        data-category="Q&A"
        data-category-id="DIC_kwDOLnSG0s4CeqF0"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://chenile.org/css/comment.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
<noscript>Please enable JavaScript to load the comments.</noscript>
{% endunless %}
