<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" }}">

<!-- link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="css/modern-business.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="css/customstyles.css">
<link rel="stylesheet" href="css/boxshadowproperties.css">
<!-- most color styles are extracted out to here -->
<link rel="stylesheet" href="css/theme-dark.css" media='' id='dark'>
<link rel="stylesheet" href="css/theme-green.css" media='none' id='green'>
<link rel="stylesheet" href="css/theme-blue.css" media='none' id='blue'>
<link rel="stylesheet" href="css/theme-tannish.css" media='none' id='tannish'>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "js/jquery.navgoco.min.js" }}"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Anchor.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
<script src="{{ "js/toc.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>

<link rel="shortcut icon" href="{{ "images/favicon.ico"  }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

<script>

function storeCurrentTheme(s){
    localStorage.setItem('ChenileDocsTheme', s);
}

function switchToCurrentTheme(){
    switch(localStorage.getItem("ChenileDocsTheme")){
        case "Dark":
            setThemeDark();
            break;
        case "Light-Green":
            setThemeLightGreen();
            break;
        case "Light-Blue":
            setThemeLightBlue();
            break;
        case "Tannish":
            setThemeTannish();
            break;
    }
}


function setThemeDark(){
    document.getElementById('dark').media=''
    document.getElementById('green').media='none'
    document.getElementById('blue').media='none'
    document.getElementById('tannish').media='none'
    storeCurrentTheme("Dark")
}

function setThemeLightBlue(){
    document.getElementById('dark').media='none'
    document.getElementById('green').media='none'
    document.getElementById('blue').media=''
    document.getElementById('tannish').media='none'
    storeCurrentTheme("Light-Blue")
}

function setThemeLightGreen(){
    document.getElementById('dark').media='none'
    document.getElementById('green').media=''
    document.getElementById('blue').media='none'
    document.getElementById('tannish').media='none'
    storeCurrentTheme("Light-Green")
}

function setThemeTannish(){
    document.getElementById('dark').media='none'
    document.getElementById('green').media='none'
    document.getElementById('blue').media='none'
    document.getElementById('tannish').media=''
    storeCurrentTheme("Tannish")
}

switchToCurrentTheme()
</script>
